@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

        :root {
            --hd-logo-height: 100px;
            --bd-rd: 8px;
            --rw-hgt: 36px;
            --dt-cnt-wd: 48px;
            --lx-white: #fff;
            --lx-dark-blue: #00326e;
            --lx-orange: #f24305;
            --lx-light-blue: #0561f2;
            --lx-light-grey: #eee;
            --color-border: rgba(0,0,0,0.2);
            --color-border-t: rgba(0,0,0,0);
            --color-header-text: #fff;
            --color-title: #202040;
            --color-table-head-bg: #d5d5d5;
            --color-table-row-bg: #f5f5f5;
            --color-table-row-end-bg: #b9b9b9;
            --color-table-head-data-text: #000;
            --color-table-row-data-bg: #808080;
            --color-table-row-data-text: #fff;
            --color-table-row-end-data-text: #fff;
            --color-dt-low: #090909;
            --color-dt-mid: #808080;
            --color-dt-high: #fff;
            --color-dt-title: #ff0;
            --color-dt-end: var(--lx-light-blue);
            --color-dt-high-border: #090909;
            --color-footer-text: #202040;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
        }
        body {
            background: var(--lx-light-grey);
            min-height: 100vh;
            margin: 0;
            font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
        }
        button{
            margin: 0;
            padding: 0;
        }
        .main {
            width: 1200px;
            
            margin: 0 auto;
            background: var(--lx-white);
            border: 1px solid var(--color-border);
            display: flex;
            flex-direction: column;
        }
        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: fit-content;
            border-bottom: 1px solid var(--color-border);
            padding: 20px 16px 20px 16px;
            gap: 16px;
        }
        .hd-logo-inst {
            
            height: var(--hd-logo-height);
            display: flex;
            align-items: center;
            justify-content: center;
           
        }
        .hd-logo-inst img {
            
            height: var(--hd-logo-height);
            object-fit: cover;
        }
        .hd-datos-alumno {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: fit-content;
            height: fit-content;
            gap: 0;
            margin-top: 6px;
            
        }
        .hd-datos-alumno .al-dt-nombre,
        .hd-datos-alumno .al-dt-colegio,
        .hd-datos-alumno .al-dt-grupo,
        .hd-datos-alumno .al-dt-fecha {
            display: flex;
            align-items: center;
            color: var(--color-title);
            
            font-weight: 500;
        }
        .hd-datos-alumno .al-dt-nombre { font-size: 1.25rem; font-weight: 700; }
        .hd-datos-alumno .al-dt-colegio { font-size: 1rem; }
        .hd-datos-alumno .al-dt-grupo,
        .hd-datos-alumno .al-dt-fecha { font-size: 0.875rem; }

        .hd-logo-lexium {
            margin-left: auto;
            height: var(--hd-logo-height);
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: space-between; 
        }
        .hd-logo-lexium .lexium-logo {
            width: 125px;
            height: 30px;
           
            background: none;
        }
        .hd-logo-lexium button{
            display: flex; 
            align-items: center; 
            gap: 8px; 
            background: var(--lx-dark-blue); 
            color: #fff; 
            border: none; 
            border-radius: 4px; 
            padding: 8px 16px; 
            cursor: pointer; 
            font-family: inherit; 
            font-size: .8rem; 
            transition: background 0.2s;
        }
        .hd-logo-lexium button:hover {
            background: var(--lx-orange);
            color: #fff;
        }
        .hd-logo-lexium button i {
            color: #fff;
        }
        .al-dt-grupo{
            display: flex;
            flex-direction: row;
            gap: 8px;
        }
        .dt-caps {
            background: var( --color-table-head-bg);
            color: var(--color-title);
            padding: 4px 8px;
            border-radius: 4px;
            font-size: 0.75rem;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .section {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 0;
        }
        .report-gp-container {
            margin: 16px;
            flex: 1;
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
        .rep-col {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: calc(var(--rw-hgt) - 3px);
        }
        .report-body {
            background: none;
            display: flex;
            flex-direction: column;
            gap: 0;
        }
        .report-header {
            background: var(--lx-dark-blue);
            color: var(--color-header-text);
            display: flex;
            flex-direction: column;
            border-radius: var(--bd-rd) var(--bd-rd) 0 0;
            overflow: hidden;
        }
        .report-h-top {
            width: 100%;
            padding-left: 16px;
            padding-right: 8px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: calc(2 * var(--rw-hgt) + 2px);
            gap: 12px;
            
        }
        
        .r-h-logo {
            
            height: calc(2 * var(--rw-hgt));
            display: flex;
            align-items: center;
            justify-content: left;
            padding-left: 8px;
        }
        .r-h-logo img {
            
            height: calc(var(--rw-hgt) * 1.5);
            
        }
        .r-h-info {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0;
        }
        .r-h-title {
            
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--color-header-text);
            
        }
        .r-h-date {
            font-size: 1rem;
            color: var(--color-header-text);
        }
        .report-h-btm {
            background: var(--lx-white);
            
            border-left: 1px solid var(--color-border);
            border-right: 1px solid var(--color-border);
            border-bottom: 1px solid var(--color-border);
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: calc(var(--rw-hgt) + 2px);
        }
        .r-h-acotaciones {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 32px;
            padding: 2px 8px;
            
        }
        .r-h-nota-t, .r-h-nota {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
        }
        .r-h-nt-txt {
            font-size: 0.875rem;
            color: #000;
        }
        .nt-border{
            border: none;
        }
        .r-h-nt-icon .nt-sq {
            width: 25px;
            height: 25px;
            border-radius: 4px;
        }

        /* Estos son los colores para la columna del puntaje obtenido: Negro (bajo), Gris (medio), Blanco (alto), Amarillo (Fila del titulo del bloque), Azul (Fila del fin del reporte) */
        .dat-low{
            background-color: var(--color-dt-low);
            color: var(--lx-white);
        }
        .dat-mid{
            background-color: var(--color-dt-mid);
            color: var(--lx-white);
        }
        .dat-high{
            background-color: var(--color-dt-high);
            border: 1px solid var(--color-dt-high-border);
        }
        .dat-title{
            background-color: var(--color-dt-title);
            
        }
        .dat-end{
            background-color: var(--color-dt-end);
            color: var(--lx-white);
        }
        /* Aqui terminan los colores del puntaje obtenido*/

        .r-h-notas {
            display: flex;
            flex-direction: row;
            gap: 10px;
            flex: 1;
        }
        
        .report-content {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .table-body {
            display: flex;
            flex-direction: column;
            gap: 0;
        }
        .tb-head, .tb-row, .tb-row-end, .tb-col-a, .tb-col-b {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: var(--rw-hgt);
            font-size: 1rem;
            
        }
        .tb-head {
            font-weight: 500;
            
            background: var(--color-table-head-bg);
            border: 1px solid var(--color-border);
        }
        .tb-row {
            background: var(--color-table-row-bg);
            border-bottom: 1px solid var(--color-border);
            border-left: 1px solid var(--color-border);
            border-right: 1px solid var(--color-border);
            overflow: hidden;
        }
        .tb-row .tb-col-a{
            gap: 12px;
            margin-left: 16px;
        }
        .tb-row-end {
            font-weight: 500;
            background: var(--color-table-row-end-bg);
            border-radius: 0 0 var(--bd-rd) var(--bd-rd);
            border-bottom: 1px solid var(--color-border-t);
            border-left: 1px solid var(--color-border-t);
            border-right: 1px solid var(--color-border-t);
            overflow: hidden;
        }
        .tb-reg-row-end{
            overflow: hidden!important;
            border-radius: 0 0 var(--bd-rd) var(--bd-rd);
        }
        .bd-top{
            border-top: 1px solid rgba(0,0,0,0.2) ;
        }
        .tb-col-a {
            flex: 1;
            display: flex;
            align-items: center;
            padding-left: 8px;
            gap: 12px;
            line-height: .9rem;
        }
        .tb-col-b {
            width: calc(var(--dt-cnt-wd) + 16px);
            border-left: 1px solid var(--color-border);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .tb-data-container {
            width: var(--dt-cnt-wd);
            height: 28px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }
        .tb-bullet{
            font-size:.6rem; 
            margin-right:8px;
        }
        .dat-title{
            border-bottom: 1px solid var(--color-border-t);
        }

        .footer {
            height: 50px;
            border-top: 1px solid var(--color-border);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .footer-text {
            color: var(--color-footer-text);
            font-size: 1rem;
        }
        /* ESTILOS ACORDEON */
                    .accordion {
                        
                        border-radius:var(--bd-rd);
                        background: #f7f7f7;
                        padding: 0;
                        overflow: hidden;
                        
                    }
                    .accordion-item {
                        border-bottom: 1px solid #e0e0e0;
                    }
                    .accordion-header,
                    .accordion-child-header {
                        width: 100%;
                        text-align: left;
                        background: none;
                        border-top: none;
                        
                        border-bottom: 1px solid var( --color-border);
                        outline: none;
                        font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
                        
                        display: flex;
                        align-items: center;
                        
                        cursor: pointer;
                        
                        transition: background 0.2s;
                        
                    }
                    .accordion-header{
                        background-color: var(--lx-dark-blue);
                        color: var(--lx-white);
                        height: calc(2 * var(--rw-hgt) + 2px);
                        border-left: none;
                        border-right: none;
                        padding-left: 8px;
                        font-size: 1rem;
                    }
                    .accordion-header:hover {
                        background-color: var(--lx-light-blue);
                    }
                    .accordion-child-header{
                        font-weight: 500;
                        font-size: 1rem;
                        background-color: var(--color-table-head-bg);
                        height: var(--rw-hgt);
                        justify-content: space-between;
                        border-left: 1px solid var(--color-border);
                        border-right: 1px solid var(--color-border);
                    }
                    .accordion-child-header:hover {
                        
                    }
                    .accordion-header .fa,
                    .accordion-child-header .fa {
                        margin-left: 0;
                        transition: transform 0.2s;
                    }
                    .accordion-header[aria-expanded="true"] .fa,
                    .accordion-child-header[aria-expanded="true"] .fa {
                        transform: rotate(180deg);
                    }
                    .accordion-body {
                       
                        display: none;
                        
                    }
                    .accordion-body.open {
                        display: block;
                    }
                    .accordion-child {
                        
                        background-color: var(--color-table-row-bg) ;
                        
                    }
                    .accordion-child-body {
                        
                        display: none;
                        
                    }
                    .accordion-child-body.open {
                        display: block;
                    }
                    .accordion-body p, 
                    .accordion-child-content p{
                        padding: 0;
                        margin: 0;
                    }

        /* Estilos para impresión */
        @media print {
            * {
                -webkit-print-color-adjust: exact !important;
                print-color-adjust: exact !important;
            }
            :root {
                --hd-logo-height: 70px;
                --bd-rd: 8px;
                --rw-hgt: 16px;
            }
            .main {
                width: 100vw !important;
                max-width: 100vw !important;
                min-width: 0 !important;
                height: auto !important;
                margin: 0 !important;
                border: none !important;
                box-shadow: none !important;
            }
            body, html {
                width: 100vw !important;
                min-width: 0 !important;
                margin: 0 !important;
                padding: 0 !important;
                background: var(--lx-white) !important;
            }
            .header {                
                padding: 0px 16px 8px 16px !important;
                gap: 16px;
            }
            .hd-logo-lexium .lexium-logo {
                height: 20px;
            }
            .hd-logo-lexium button{
                display: none; 
            }
            .hd-datos-alumno .al-dt-nombre { font-size: .8rem; font-weight: 700; }
            .hd-datos-alumno .al-dt-colegio { font-size: .6rem; }
            .hd-datos-alumno .al-dt-grupo,
            .hd-datos-alumno .al-dt-fecha { font-size: 0.55rem; }
            .report-h-top{
                flex-direction: row-reverse;
                padding-left: 0;
            }
            .dt-caps {
                padding: 2px 4px;
                font-size: 0.5rem;
            }
            .r-h-info{
                gap: 4px;
            }
            .r-h-title {
                font-size: .65rem;
                font-weight: 600;
                height: 10px;
            }
            .r-h-date {
                font-size: .5rem;
            }
            
            
            .r-h-acotaciones {
                gap: 0 !important;
                flex-direction: column !important;
                align-items: center !important;
            }
            .r-h-nota-t{
                display: none !important;
            }
            .r-h-nt-txt {
                font-size: 0.5rem;
            }
            .r-h-nt-icon .nt-sq {
                width: 10px;
                height: 10px;
                border-radius: 2px;
            }
            .nt-border{
                border: 1px solid black !important;
            }
            .tb-head, .tb-row, .tb-row-end, .tb-col-a, .tb-col-b {
                font-size: .5rem;
            }
            .tb-data-container {
                width: 100%;
                height: var(--rw-hgt);
                border-radius: 0;
            }
            .tb-col-a {
                padding-left: 4px;
                overflow: hidden;
            }
            
            .fa{
                display: none;
            }
            .tb-bullet{
                font-size:.3rem; 
                margin-right:4px;
            }
            .dat-high{
                border: none;
            }
            .tb-block{
                page-break-inside: avoid;
            }
            .footer {
                height: var(--rw-hgt);
                
            }
            .footer-text{
                font-size: .5rem;
            }
        }